@model List<xxx>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



    <p><strong>Son Güncelleme Tarihi:</strong> [25/01/2024]</p>

    <p>Hoş Geldiniz!</p>

    <p>Biz [Şirket Adı] olarak, müşteri memnuniyetini ve kişisel gizliliği ön planda tutan bir şirketiz. Bu gizlilik politikası, [web sitemiz / uygulamamız] üzerinden topladığımız bilgileri ve bu bilgilerin nasıl kullanıldığını açıklamaktadır.</p>

    <h2>1. Toplanan Bilgiler</h2>
    <p>[Web sitemiz / uygulamamız] üzerinden şu tür bilgileri toplayabiliriz:</p>
    <ul>
        <li><strong>Kişisel Bilgiler:</strong> İsim, e-posta adresi, telefon numarası gibi bilgiler.</li>
        <li><strong>Çerezler ve İzleme Teknolojileri:</strong> [Web sitemiz / uygulamamız] üzerindeki kullanımı analiz etmek ve daha iyi bir deneyim sunmak amacıyla kullanılır.</li>
    </ul>

    <h2>2. Bilgi Kullanımı</h2>
    <p>Topladığımız bilgileri aşağıdaki amaçlarla kullanabiliriz:</p>
    <ul>
        <li>[Web sitemizin / uygulamamızın] hizmetlerini sunmak.</li>
        <li>Kullanıcı deneyimini iyileştirmek.</li>
        <li>Kampanya ve duyurular göndermek.</li>
        <li>İstatistiksel analiz ve raporlama yapmak.</li>
    </ul>

    <h2>3. Bilgi Paylaşımı</h2>
    <p>Kişisel bilgilerinizi üçüncü taraflarla kesinlikle paylaşmıyoruz. Ancak, yasal zorunluluklara uymak veya [şirket adınız] ile ilgili haklarımızı korumak amacıyla yetkili makamlarla bilgi paylaşabiliriz.</p>

    <h2>4. Çerezler ve İzleme Teknolojileri</h2>
    <p>[Web sitemiz / uygulamamız], çerezler ve benzeri izleme teknolojilerini kullanabilir. Bu teknolojiler, kullanıcı tercihlerini hatırlamamıza, güvenlik özelliklerini geliştirmemize ve istatistiksel veriler toplamamıza yardımcı olur.</p>

    <h2>5. Güvenlik</h2>
    <p>Bilgilerinizi korumak için çeşitli güvenlik önlemleri alıyoruz. Ancak, internet üzerinden iletişim veya veri depolama konusunda %100 güvenlik garantisi veremeyiz.</p>

    <h2>6. Değişiklikler</h2>
    <p>Bu gizlilik politikası, [şirket adınız] tarafından uygun görülen zamanlarda güncellenebilir. Güncellemeleri takip etmek, bilgilerinizin nasıl kullanıldığını anlamanıza yardımcı olacaktır.</p>

    <h2>7. İletişim</h2>
    <p>Gizlilik politikamızla ilgili herhangi bir sorunuz veya geri bildiriminiz varsa, lütfen <a href="mailto:iletisim@ornek.com">iletisim@ornek.com</a> adresinden bizimle iletişime geçin.</p>

